/* Generic styling */
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFFDF7;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #3B3B3B;
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #554433;
}

/* Resident Page */
.resident-page {
  background: #C8E9F1; /* blue */
}

.resident-page h2 {
  text-align: center;
}

.below {
  position: absolute;
  z-index: 1;
}

.below-cloud {
  width: 100vw;
  height: 70px;
  margin-bottom: 100px;
}

.above {
  position: relative;
  z-index: 10;
}

.outer {
  display: flex;
  justify-content: center;
}

.outer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

@media (max-width: 480px) {
  .outer-left, .outer-right {
    opacity: 0;
  }
}

.outer-center {
  display: flex;
  background: #FCECDE;
  padding: 30px 15px;
  justify-content: center;
  min-width: 320px;
  flex-direction: column;
  flex-flow: wrap;
}

.container {
  width: 100%;
}

.resident-box {
  width: 100%;
  margin-bottom: 30px;
}

.resident-box::after {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  background: #FF931E;
}

.resident-box img {
  display: block;
  width: 270px;
  height: 180px;
  background: #ccc;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .outer-center {
    max-width: 960px;
  }

  .resident-box {
    width: 50%;
  }

  .resident-box img {
    width: 420px;
    height: 280px;
  }
}

/* cloud animation */
.drift {
-webkit-animation: drift 30s ease infinite alternate both;
        animation: drift 30s ease infinite alternate both;
}

@keyframes drift {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/* Navigation */
.static-nav {
  position: absolute;
  width: 100%;
  height: 110px;
  padding: 15px 30px;
  z-index: 100;
}

.static-nav .logo {
  float: left;
}

.static-nav .logo img {
  width: auto;
  max-height: 80px;
}

.static-nav .social {
  float: right;
}

.social ul {
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
}

.social ul::before {
  content: 'Share';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #3B3B3B;
  letter-spacing: 1px;
  margin-right: 25px;
}

.social ul li {
  display: inline-block;
}

.social ul li + li {
  margin-left: 25px;
}

.social ul li img {
  max-width: 25px;
  height: auto;
}

/* Sections */
#section1 {
  background: url(../images/a1-bg.svg) center bottom no-repeat;
  background-size: cover;
}

#section2 {
  background-image: linear-gradient(-180deg, #6DC6AB 0%, #C8E9F1 15%, #C8E9F1 85%, #FFFDF7 100%, #FFFDF7 100%);
}

#section3 {
  background: url(../images/top.svg) center bottom no-repeat;
  background-size: contain;
}

#section4 {
  background: url(../images/bottom.svg) center top no-repeat;
  background-size: contain;
}

#section1 .title {
  text-align: center;
}

.content {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  margin: 30px;
  padding: 30px;
  background: #FFFFFF;
  border: 5px solid #FAD312;
  box-shadow: 10px 10px 0 0 rgba(0,0,0,0.15);
  z-index: 10;
  transform: translate3d(-200%, 0, 0);
}

#section3 .content {
  top: 0;
  bottom: auto;
}

@media (min-width: 800px){
  .content {
    top: 0;
    bottom: auto;
    max-width: 360px;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 12px;
  color: #E6783B;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Elements - A1 */
.scooter {
  position: absolute;
  left: 15%;
  top: 55%;
  width: 80px;
  height: 110px;
  background: url(../images/a1-scooter.svg) left top no-repeat;
  animation: play-scooter 0.8s steps(2) infinite;
}

@keyframes play-scooter {
   100% { background-position: -160px; }
}

.bicycle {
  position: absolute;
  left: 40%;
  top: 60%;
  width: 90px;
  height: 90px;
  background: url(../images/a1-bicycle.svg) left top no-repeat;
  animation: play-bicycle 0.8s steps(2) infinite;
}

@keyframes play-bicycle {
   100% { background-position: -180px; }
}

.workout {
  position: absolute;
  left: 25%;
  bottom: 15%;
  width: 180px;
  height: 180px;
  background: url(../images/a1-workout.svg) left top no-repeat;
  animation: play-workout 0.8s steps(3) alternate infinite;
  transform: scale(1.1);
}

@keyframes play-workout {
   100% { background-position: -540px; }
}

.playground {
  z-index: 1;
  position: absolute;
  left: 45%;
  bottom: 10%;
  width: 400px;
  height: 300px;
  background: url(../images/a1-playground.svg) left top no-repeat;
  animation: play-playground 0.8s steps(3) alternate infinite;
}

@keyframes play-playground {
   100% { background-position: -1200px; }
}

.gardening {
  position: absolute;
  right: 15%;
  bottom: 10%;
  width: 200px;
  height: 200px;
  background: url(../images/a1-gardening.svg) left top no-repeat;
  animation: play-gardening 0.8s steps(3) alternate infinite;
}

@keyframes play-gardening {
   100% { background-position: -600px; }
}

.highfive {
  position: absolute;
  right: 30%;
  bottom: 35%;
  width: 100px;
  height: 115px;
  background: url(../images/a1-highfive.svg) left top no-repeat;
  animation: play-highfive 0.5s steps(2) alternate infinite;
  transform: scale(1.2);
}

@keyframes play-highfive {
   100% { background-position: -200px; }
}

.walkdog {
  position: absolute;
  left: 5%;
  bottom: 7.5%;
  width: 200px;
  height: 200px;
  background: url(../images/a1-walkdog.svg) left top no-repeat;
}

.walkcat {
  position: absolute;
  left: 35%;
  bottom: 5%;
  width: 110px;
  height: 90px;
  background: url(../images/a1-walkcat.svg) left top no-repeat;
  animation: play-walkcat 0.8s steps(4) alternate infinite;
}

@keyframes play-walkcat {
   100% { background-position: -440px; }
}

.sitdog {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 180px;
  height: 150px;
  background: url(../images/a1-sitdog.svg) left top no-repeat;
}

.cassia-hdb {
  position: absolute;
  right: 2.5%;
  bottom: 30%;
  width: 270px;
  height: 360px;
  background: url(../images/a1-hdb.svg) left top no-repeat;
}

@media (max-width: 480px) {
  #section1 .desktop-only {
    display: none;
  }

  #section1 .playground {
    left: 5%;
    bottom: 7.5%;
    transform: scale(0.9);
  }

  #section1 .cassia-hdb {
    left: 0;
    right: auto;
    bottom: 25%;
    transform: translateX(-25px) scaleX(-1) scale(0.6);
  }
}

/* Elements - A2 */
.cassia-zoom {
  position: absolute;
  right: 38%;
  top: 25%;
  width: 190px;
  height: 300px;
  background: url(../images/a2-cassia-zoom.svg) left top no-repeat;
}

.map-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-sg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 540px;
  background: url(../images/a2-map.svg) center no-repeat;
}

.map-boat-1 {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 90px;
  height: 50px;
  background: url(../images/a2-boat-1.svg) center no-repeat;
}

.map-boat-2 {
  position: absolute;
  bottom: 25%;
  right: 30%;
  width: 50px;
  height: 75px;
  background: url(../images/a2-boat-2.svg) center no-repeat;
}

.map-boat-3 {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 130px;
  height: 60px;
  background: url(../images/a2-boat-3.svg) center no-repeat;
}

/* Animated Elements - A3 */
#section3 .workout {
  left: 32%;
  top: 35%;
  bottom: auto;
  transform: scale(0.7);
}

#section3 .playground {
  top: 25%;
  right: 35%;
  left: auto;
  bottom: auto;
  transform: scale(0.7);
}

#section3 .gardening {
  right: 25%;
  bottom: 10%;
  transform: scale(0.8);
}

#section3 .walkcat {
  left: auto;
  right: 45%;
  bottom: 20%;
}

/* Animated Elements - A4 */
#section4 .scooter {
  left: 25%;
  top: 5%;
  bottom: auto;
}

#section4 .bicycle {
  left: auto;
  right: 20%;
  top: 50%;
  transform: scaleX(-1);
}

#section4 .walkdog {
  left: auto;
  bottom: auto;
  right: 36%;
  top: 25%;
  transform: scale(0.6);
}

#section4 .sitdog {
  right: auto;
  left: 30%;
  bottom: 20%;
  transform: scaleX(-1) scale(0.8);
}

#section4 .highfive {
  right: 40%;
  bottom: 35%;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

.slide-left {
-webkit-animation: slide-left 8s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
        animation: slide-left 8s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */

.slide-right {
	-webkit-animation: slide-right 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
	        animation: slide-right 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

/**
 * ----------------------------------------
 * animation slideInLeft
 * ----------------------------------------
 */

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation: slideInLeft 1s both;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/**
 * ----------------------------------------
 * animation fadeIn
 * ----------------------------------------
 */

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 1s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
